.menu-item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .menu-item-card:hover {
    transform: scale(1.05);
  }
  
  .food-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .menu-item-info {
    text-align: center;
    margin-top: 10px;
  }
  
  .food-name {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .food-price {
    font-size: 1rem;
    color: #28a745;
    margin-bottom: 10px;
  }
  
  .add-to-cart-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    height: 45px;
    width: 180px;
    padding: 8px 12px;
    font-size: 0.9rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-to-cart-btn:hover {
    background-color: #0056b3;
  }
  
  .cart-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 26px;
    border: 2px solid #007bff; /* Adding border similar to Add to Cart button */
    border-radius: 4px; /* Matching the Add to Cart button's border radius */
    padding: 8px; /* Adding padding for better spacing */
    background-color: #fff; /* Keeping it white to match the card */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adding a subtle shadow */
    width: fit-content; /* Ensuring the width adjusts to content */
    margin-top: 10px; /* Adding some space above the controls */

    
}
  
  
  
  .item-count {
    font-size: 18px;
    font-weight: bold;
  }

  .decrement-btn, .increment-btn {
    background: none;
    border: none;
    color: #007bff;
    font-size: 2em;
    cursor: pointer;
    transition: color 0.2s;
    padding: 0px;
    margin-top: 5px; /* Adjust the value as needed */
  }
  
  .decrement-btn:hover, .increment-btn:hover {
    color: #0056b3;
  }
.item-count-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 28px;
    margin: 0 10px;
    text-align: center;
    border: 2px solid #007bff;
    border-radius: 10px;
    background-color: #dfefff; /* Light blue background */
    font-size: 1em;
    color: #333;
}




  
  