.sidebar {
  width: 100%;
  max-width: 250px;
  background-color: #34495e;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  color: #ecf0f1;
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1; /* Ensure the links stay at the top */
}

.sidebar ul li {
  color: #ecf0f1;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar ul li:hover {
  background-color: #1abc9c;
}

.sidebar ul li.active {
  background-color: #16a085;
  font-weight: bold;
}
